// Container
.auth__container {
    width: 100%;
    height: 100vh;

    .auth__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        form {
            background-color: #0D0C0F;
            border: 2px solid var(--Grey-700);
            border-radius: 10px;
            padding: 20px;
            width: 80%;

            .auth-header {
                margin-bottom: 30px;
                text-align: center;

                p {
                    font-size: 11px;
                    font-weight: 400;
                    color: var(--Grey);
                }
            }

            .auth-input-group {
                margin-bottom: 15px;

                label {
                    display: block;
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 5px;
                }

                input {
                    width: 100%;
                    border: unset;
                    background-color: var(--Black-900);
                    border: 1px solid var(--Grey-700);
                    padding-left: 10px;
                    height: 45px;
                    border-radius: 10px;
                }
            }

            .forgot-password {
                font-size: 14px;
                font-weight: 400;
                text-align: center;
                margin-bottom: 30px;
            }

            .auth-submit-btn {
                margin-bottom: 20px;

                input {
                    width: 100%;
                    height: 55px;
                    border: unset;
                    background-color: var(--White);
                    border-radius: 15px;
                }
            }

            .auth-dir {
                font-size: 11px;
                font-weight: 400;
                color: var(--Grey);
                text-align: center;
            }
        }
    }

    // Start Responsive
    @media only screen and (min-width:1000px) {
        .auth__wrapper {
            form {
                max-width: 500px;
                width: 100%;
                padding: 35px 40px;
            }
        }
    }

    // End Responsive
}