// Header
#hero {
    .slider__container {
        display: flex;
        overflow: hidden;
        position: relative;
        scroll-snap-type: x mandatory;

        .slide-item {
            width: 100%;
            position: relative;
            scroll-snap-align: start;

            .slider-image {
                position: relative;
                z-index: -1;
                height: 430px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .slider-image-overlay {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(359deg, #0D0C0F 0.83%, rgba(13, 12, 15, 0.85) 28.55%, rgba(13, 12, 15, 0.00) 48.81%, rgba(13, 12, 15, 0.28) 70.66%, #0D0C0F 103.18%);
                }
            }

            .slider-info {
                position: absolute;
                bottom: 0;
                left: var(--main_wrapper);
                right: var(--main_wrapper);

                .slider-type-of-film {
                    margin-bottom: 20px;

                    button {
                        // 10-14
                        font-size: clamp(0.625rem, 0.5536rem + 0.3571vw, 0.875rem);
                        background-color: var(--Black-900);
                        color: var(--White);
                        border-radius: 16px;
                        padding: 5px;
                    }
                }

                .slider-title {
                    // 25-32
                    font-size: clamp(0.9375rem, 0.6339rem + 1.5179vw, 2rem);
                    font-weight: 600;
                    margin-bottom: 10px;
                }

                .slider-film-info {
                    // 8-12
                    font-size: clamp(0.625rem, 0.5536rem + 0.3571vw, 0.875rem);
                    font-weight: 400;
                    opacity: .7;
                    margin-bottom: 8px;
                }

                .slider-description {
                    // 12-14
                    font-size: clamp(0.75rem, 0.6964rem + 0.2679vw, 0.9375rem);
                    font-weight: 400;
                    margin-bottom: 12px;
                }

                .slider-buttons {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 20px;

                    .slider-btn {
                        width: 48%;

                        button {
                            width: 100%;
                            padding: 10px 0;
                            border-radius: 5px;
                            // 14-16
                            font-size: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem);
                            font-weight: 600;

                            i {
                                color: var(--White);
                                margin-right: 12px;
                            }
                        }
                    }

                    .watch-trailer-btn {
                        button {
                            background-color: var(--Green);
                        }
                    }

                    .add-watchlist-btn {
                        button {
                            background-color: unset;
                            border: 1px solid var(--White);
                        }
                    }
                }
            }
        }
    }

    @media only screen and (min-width:1024px) {
        .slider__container {
            height: 648px;

            .slide-item {
                width: 100vw;
                .slider-image {
                    width: 100vw;
                    height: 100%;
                }
            }

            .slider-info {
                .slider-type-of-film {
                    margin-bottom: 30px;

                    button {
                        padding: 10px 15px;
                    }
                }

                .slider-title {
                    margin-bottom: 16px;
                }

                .slider-film-info {
                    margin-bottom: 14px;
                }

                .slider-description {
                    margin-bottom: 30px;
                    width: 500px;
                }

                .slider-buttons {
                    justify-content: unset !important;

                    .slider-btn {
                        width: 175px !important;

                        button {
                            border-radius: 16px !important;
                        }
                    }

                    .slider-btn:not(:last-child) {
                        margin-right: 25px;
                    }
                }
            }
        }

    }
}

.slider-directors {
    position: absolute;
    bottom: 0;
    right: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .dot {
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color: #565457;
        cursor: pointer;
    }

    .active {
        background-color: var(--White);
    }

    .dot:not(:last-child) {
        margin-right: 4px;
    }

    @media only screen and (min-width:1024px) {
        justify-content: flex-end !important;
        right: var(--main_wrapper);
        margin-bottom: 20px;
    }
}

// Cards
.row-slider-card {
    position: relative;

    .img-hover__container {
        overflow: hidden;
    }

    img {
        transition: 200ms;
    }

    img:hover {
        scale: 1.1;
    }

    h3 {
        // 12-16
        font-size: clamp(0.75rem, 0.6786rem + 0.3571vw, 1rem);
    }

    span {
        // 10-12
        font-size: clamp(0.625rem, 0.5893rem + 0.1786vw, 0.75rem);
        font-weight: 600;

        i {
            color: var(--Yellow);
        }

        .info_genre,
        .info_type-of-film {
            font-weight: 400;
            color: var(--Grey);
        }
    }

    .slider-card-overlay {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(179deg, rgba(29, 29, 29, 0) 0%, rgb(0 0 0 / 80%) 113.79%);
        border-radius: 16px;
        pointer-events: none;
    }
}

.vertical-large-card {
    img {
        width: 240px;
        height: 340px;
    }

    .img-hover__container {
        border-radius: 16px;
    }

    .slider-card-info {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 1;

        .slider-card-info__wrapper {
            // 20-22
            padding-left: clamp(1.25rem, 1.2143rem + 0.1786vw, 1.375rem);
            // 20-25
            padding-bottom: clamp(1.25rem, 1.1607rem + 0.4464vw, 1.5625rem);
        }
    }

    @media only screen and (min-width:1024px) {
        .img-hover__container {
            height: 100%;

            img {
                width: 280px;
                height: 100%;
            }
        }

    }
}

.vertical-small-card {
    display: flex;
    align-items: center;

    .card-number-order {
        margin-right: 20px;

        h4 {
            font-size: clamp(2.5rem, 2.375rem + 0.625vw, 2.9375rem);
        }
    }

    .img-hover__container {
        border-radius: 10px;
        height: 100%;

        img {
            width: 110px;
            height: 100%;
        }
    }

    .slider-card-info {
        height: 100%;
        margin-left: 10px;

        .slider-card-info__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            .pg-age {
                width: 48px;
                padding: 2px 5px;
                border-radius: 6px;
                border: 1px solid var(--Grey);
                background-color: unset;
                color: var(--Grey);

                h2 {
                    // 9-12
                    font-size: clamp(0.5625rem, 0.5089rem + 0.2679vw, 0.75rem);
                }
            }
        }
    }

    @media only screen and (min-width:1024px) {
        .img-hover__container {

            img {
                width: 150px;
            }
        }
    }
}


.horizontal-card {
    img {
        width: 240px;
        height: 160px;
    }

    .img-hover__container {
        border-radius: 16px;
    }

    @media only screen and (min-width:1024px) {
        .img-hover__container {
            img {
                width: 280px;
                height: 185px;
            }
        }

    }
}