#hero .slider__container {
  display: flex;
  position: relative;
  overflow: hidden;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}
#hero .slider__container .slide-item {
  width: 100%;
  position: relative;
  scroll-snap-align: start;
}
#hero .slider__container .slide-item .slider-image {
  position: relative;
  z-index: -1;
  height: 430px;
}
#hero .slider__container .slide-item .slider-image img {
  width: 100vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#hero .slider__container .slide-item .slider-image .slider-image-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(359deg, #0D0C0F 0.83%, rgba(13, 12, 15, 0.85) 28.55%, rgba(13, 12, 15, 0) 48.81%, rgba(13, 12, 15, 0.28) 70.66%, #0D0C0F 103.18%);
}
#hero .slider__container .slide-item .slider-info {
  position: absolute;
  bottom: 30px;
  left: var(--main_wrapper);
  right: var(--main_wrapper);
}
#hero .slider__container .slide-item .slider-info .slider-type-of-film {
  margin-bottom: 20px;
}
#hero .slider__container .slide-item .slider-info .slider-type-of-film button {
  font-size: clamp(0.625rem, 0.5536rem + 0.3571vw, 0.875rem);
  background-color: var(--Black-900);
  color: var(--White);
  border-radius: 16px;
  padding: 5px;
}
#hero .slider__container .slide-item .slider-info .slider-title {
  font-size: clamp(0.9375rem, 0.6339rem + 1.5179vw, 2rem);
  font-weight: 600;
  margin-bottom: 10px;
}
#hero .slider__container .slide-item .slider-info .slider-film-info {
  font-size: clamp(0.625rem, 0.5536rem + 0.3571vw, 0.875rem);
  font-weight: 400;
  opacity: 0.7;
  margin-bottom: 8px;
}
#hero .slider__container .slide-item .slider-info .slider-description {
  font-size: clamp(0.75rem, 0.6964rem + 0.2679vw, 0.9375rem);
  font-weight: 400;
  margin-bottom: 12px;
}
#hero .slider__container .slide-item .slider-info .slider-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
#hero .slider__container .slide-item .slider-info .slider-buttons .slider-btn {
  width: 48%;
}
#hero .slider__container .slide-item .slider-info .slider-buttons .slider-btn button {
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  font-size: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem);
  font-weight: 600;
}
#hero .slider__container .slide-item .slider-info .slider-buttons .slider-btn button i {
  color: var(--White);
  margin-right: 12px;
}
#hero .slider__container .slide-item .slider-info .slider-buttons .watch-trailer-btn button {
  background-color: var(--Green);
}
#hero .slider__container .slide-item .slider-info .slider-buttons .add-watchlist-btn button {
  background-color: unset;
  border: 1px solid var(--White);
}
@media only screen and (min-width: 1024px) {
  #hero .slider__container {
    height: 648px;
  }
  #hero .slider__container .slide-item {
    width: 100vw;
  }
  #hero .slider__container .slide-item .slider-image {
    width: 100vw;
    height: 100%;
  }
  #hero .slider__container .slider-info .slider-type-of-film {
    margin-bottom: 30px;
  }
  #hero .slider__container .slider-info .slider-type-of-film button {
    padding: 10px 15px;
  }
  #hero .slider__container .slider-info .slider-title {
    margin-bottom: 16px;
  }
  #hero .slider__container .slider-info .slider-film-info {
    margin-bottom: 14px;
  }
  #hero .slider__container .slider-info .slider-description {
    margin-bottom: 30px;
    width: 500px;
  }
  #hero .slider__container .slider-info .slider-buttons {
    justify-content: unset !important;
  }
  #hero .slider__container .slider-info .slider-buttons .slider-btn {
    width: 175px !important;
  }
  #hero .slider__container .slider-info .slider-buttons .slider-btn button {
    border-radius: 16px !important;
  }
  #hero .slider__container .slider-info .slider-buttons .slider-btn:not(:last-child) {
    margin-right: 25px;
  }
}

.slider-directors {
  position: absolute;
  bottom: 0;
  right: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-directors .dot {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #565457;
  cursor: pointer;
}
.slider-directors .active {
  background-color: var(--White);
}
.slider-directors .dot:not(:last-child) {
  margin-right: 4px;
}
@media only screen and (min-width: 1024px) {
  .slider-directors {
    justify-content: flex-end !important;
    right: var(--main_wrapper);
    margin-bottom: 50px;
  }
}

.row-slider-card {
  position: relative;
  margin-right: 15px;
}
.row-slider-card .img-hover__container {
  overflow: hidden;
}
.row-slider-card img {
  transition: 200ms;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.row-slider-card img:hover {
  scale: 1.1;
}
.row-slider-card h3 {
  font-size: clamp(0.75rem, 0.6786rem + 0.3571vw, 1rem);
}
.row-slider-card span {
  font-size: clamp(0.625rem, 0.5893rem + 0.1786vw, 0.75rem);
  font-weight: 600;
}
.row-slider-card span i {
  color: var(--Yellow);
}
.row-slider-card span .info_genre,
.row-slider-card span .info_type-of-film {
  font-weight: 400;
  color: var(--Grey);
}
.row-slider-card .slider-card-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(179deg, rgba(29, 29, 29, 0) 0%, rgba(0, 0, 0, 0.8) 113.79%);
  border-radius: 16px;
  pointer-events: none;
}
@media only screen and (min-width: 1000px) {
  .row-slider-card {
    margin-right: 20px;
  }
}

.vertical-large-card {
  width: 240px;
  height: 340px;
}
.vertical-large-card img {
  width: 240px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.vertical-large-card .img-hover__container {
  height: 100%;
  border-radius: 16px;
}
.vertical-large-card .slider-card-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
.vertical-large-card .slider-card-info .slider-card-info__wrapper {
  padding-left: clamp(1.25rem, 1.2143rem + 0.1786vw, 1.375rem);
  padding-bottom: clamp(1.25rem, 1.1607rem + 0.4464vw, 1.5625rem);
}
@media only screen and (min-width: 1024px) {
  .vertical-large-card {
    width: 280px;
    height: 400px;
  }
  .vertical-large-card .img-hover__container {
    height: 100%;
  }
  .vertical-large-card .img-hover__container img {
    width: 280px;
    height: 100%;
  }
}

.vertical-small-card {
  display: flex;
  align-items: center;
  height: 108px;
}
.vertical-small-card .card-number-order {
  margin-right: 20px;
}
.vertical-small-card .card-number-order h4 {
  font-size: clamp(2.5rem, 2.375rem + 0.625vw, 2.9375rem);
}
.vertical-small-card .img-hover__container {
  border-radius: 10px;
  height: 100%;
  width: 90px;
}
.vertical-small-card .img-hover__container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.vertical-small-card .slider-card-info {
  height: 100%;
  margin-left: 10px;
}
.vertical-small-card .slider-card-info .slider-card-info__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.vertical-small-card .slider-card-info .slider-card-info__wrapper .pg-age {
  width: 48px;
  padding: 2px 5px;
  border-radius: 6px;
  border: 1px solid var(--Grey);
  background-color: unset;
  color: var(--Grey);
}
.vertical-small-card .slider-card-info .slider-card-info__wrapper .pg-age h2 {
  font-size: clamp(0.5625rem, 0.5089rem + 0.2679vw, 0.75rem);
}
@media only screen and (min-width: 1024px) {
  .vertical-small-card {
    margin-right: 50px;
    height: 130px;
  }
  .vertical-small-card .img-hover__container {
    width: 108px;
  }
  .vertical-small-card .img-hover__container img {
    width: 100%;
  }
}

.horizontal-card {
  width: 240px;
}
.horizontal-card img {
  width: 240px;
  height: 100%;
  display: block;
}
.horizontal-card .img-hover__container {
  border-radius: 16px;
}
@media only screen and (min-width: 1024px) {
  .horizontal-card {
    width: 280px;
  }
  .horizontal-card .img-hover__container img {
    width: 280px;
    height: 100%;
  }
}/*# sourceMappingURL=style.css.map */