// Header
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: clamp(2.8125rem, 3.0804rem + -1.3393vw, 1.875rem);
    left: clamp(1.875rem, 1.0714rem + 4.0179vw, 4.6875rem);
    right: clamp(1.875rem, 1.0714rem + 4.0179vw, 4.6875rem);

    .logo {
        h2 {
            font-weight: 700;
            font-size: clamp(1.125rem, 0.95rem + 0.875vw, 2rem);
        }
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;

        .hamburger-lines {
            margin-left: 30px;

            .line {
                display: block;
                height: 2px;
                background-color: var(--White);
                border-radius: 20px;
            }

            .line:not(:last-child) {
                margin-bottom: 2px;
            }

            .line-1,
            .line-2 {
                width: 15px;
            }

            .line-3 {
                width: 8px;
                float: right;
            }
        }

        .nav-menu {
            display: none;
        }
    }

    .auth-buttons {
        display: none;
    }
}

#hero {
    .slider__container {
        display: flex;
        overflow: hidden;
        position: relative;

        .slide-item {
            .slider-image {
                position: relative;
                z-index: -1;
                height: 430px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .slider-image-overlay {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(359deg, #0D0C0F 0.83%, rgba(13, 12, 15, 0.85) 28.55%, rgba(13, 12, 15, 0.00) 48.81%, rgba(13, 12, 15, 0.28) 70.66%, #0D0C0F 103.18%);
                }
            }

            .slider-info {
                position: absolute;
                bottom: 0;
                left: clamp(1.875rem, 1.0714rem + 4.0179vw, 4.6875rem);
                right: clamp(1.875rem, 1.0714rem + 4.0179vw, 4.6875rem);

                .slider-type-of-film {
                    margin-bottom: 20px;

                    button {
                        // 10-14
                        font-size: clamp(0.625rem, 0.5536rem + 0.3571vw, 0.875rem);
                        background-color: var(--Black-900);
                        color: var(--White);
                        border-radius: 16px;
                        padding: 5px;
                    }
                }

                .slider-title {
                    // 25-32
                    font-size: clamp(0.9375rem, 0.6339rem + 1.5179vw, 2rem);
                    font-weight: 600;
                    margin-bottom: 10px;
                }

                .slider-film-info {
                    // 8-12
                    font-size: clamp(0.625rem, 0.5536rem + 0.3571vw, 0.875rem);
                    font-weight: 400;
                    opacity: .7;
                    margin-bottom: 8px;
                }

                .slider-description {
                    // 12-14
                    font-size: clamp(0.75rem, 0.6964rem + 0.2679vw, 0.9375rem);
                    font-weight: 400;
                    margin-bottom: 12px;
                }

                .slider-buttons {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 20px;

                    .slider-btn {
                        width: 48%;

                        button {
                            width: 100%;
                            padding: 10px 0;
                            border-radius: 5px;
                            // 14-16
                            font-size: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem);
                            font-weight: 600;

                            i {
                                color: var(--White);
                                margin-right: 12px;
                            }
                        }
                    }

                    .watch-trailer-btn {
                        button {
                            background-color: var(--Green);
                        }
                    }

                    .add-watchlist-btn {
                        button {
                            background-color: unset;
                            border: 1px solid var(--White);
                        }
                    }
                }

                .slider-directors {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .dot {
                        width: 8px;
                        height: 8px;
                        border-radius: 100%;
                        background-color: #565457;
                    }

                    .active {
                        background-color: var(--White);
                    }

                    .dot:not(:last-child) {
                        margin-right: 4px;
                    }
                }
            }
        }
    }

    @media only screen and(min-width:1024px) {
        .slider__container {
            .slide-item {
                .slider-image {
                    width: 100vw;
                    height: 670px;
                }
            }

            .slider-info {
                .slider-type-of-film {
                    margin-bottom: 30px;

                    button {
                        padding: 10px 15px;
                    }
                }

                .slider-title {
                    margin-bottom: 16px;
                }

                .slider-film-info {
                    margin-bottom: 14px;
                }

                .slider-description {
                    margin-bottom: 30px;
                    width: 500px;
                }

                .slider-buttons {
                    justify-content: unset !important;

                    .slider-btn {
                        width: 175px !important;
                        button{
                            border-radius: 16px !important;
                        }
                    }
                    .slider-btn:not(:last-child){
                        margin-right: 25px;
                    }
                }
                .slider-directors {
                    justify-content: flex-end !important;
                    margin-bottom: 20px;
                }
            }
        }

    }
}

